{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/form.css' %}">

    <title>
        {% block title %}
        {% endblock title %}
    </title>
  </head>
  <body style="font-size: 18px;">

    {% block navbar %}
    {% endblock navbar %}

    <div style="padding: 3rem;" class="container text-center">
        {% block content %}
        {% endblock content %}
    </div>

    <script defer src="{% static 'js/bootstrap.min.js' %}"></script>


  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    $("#id_city").change(function () {
        const url = $("#UserForm").attr("data-cities-url");  // get the url of the `load_cities` view
        const cityId = $(this).val();  // get the selected country ID from the HTML input

        $.ajax({ // initialize an AJAX request
            url: url, // set the url of the request (= /members/ajax/load-cities/ )
            data: {
                'city_id': cityId  // GET parameters
            },
            success: function (data) {
                $("#id_district").html(data);
            }
        });

    });
</script>
  </body>
</html>