{% extends 'user_form/index.html' %}

{% block title %}
    Home
{% endblock title %}
{% block navbar %}
    {% include 'user_form/navbar.html' %}
{% endblock navbar %}
{% block content %}
    <div class="container p-5">
    <p class="text-center mb-5 welcome-title">Hoşgeldiniz</p>
    <div class="card text-center text-dark mt-5">
        <div class="card-header header-title">
            CV Nedir?
        </div>
        <div class="card-body text-white" style="background-color: #312d39">
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab ad animi architecto
                consequuntur cumque delectus deleniti dicta dolorem enim eveniet illo inventore laborum maiores minima
                natus nemo non odio, omnis optio, pariatur placeat porro provident quasi quidem quis quisquam recusandae
                repellat reprehenderit saepe voluptas. Fuga natus qui unde! Assumenda commodi dolorum eligendi, et
                fugiat labore, minus neque nesciunt odio quo reprehenderit sint, veniam voluptates. Dolor facilis
                inventore libero neque placeat provident saepe soluta? Assumenda doloremque dolores fuga iste
                voluptatum? Amet consequatur culpa cumque, cupiditate dolorem expedita fugiat hic iure laboriosam minima
                molestiae officiis perferendis praesentium quaerat, quam qui saepe tempora unde vel, voluptatem?
                Assumenda atque debitis delectus dolor dolorem, doloribus dolorum eius eligendi est et facilis fuga
                illum iste laboriosam laborum maxime molestiae molestias mollitia natus necessitatibus nisi nobis non
                nostrum odio optio quae quisquam quos repellendus reprehenderit, rerum sint sit sunt velit? Accusantium,
                adipisci aliquid animi atque autem commodi consequuntur culpa cumque deleniti dignissimos error ex
                explicabo fuga fugiat, harum id illum labore laborum maiores mollitia nobis nostrum obcaecati officia
                perspiciatis placeat quam quibusdam quod repudiandae similique sunt suscipit temporibus tenetur ullam
                velit veniam voluptas voluptate. Accusantium cumque impedit ut! A accusantium quaerat quia reprehenderit
                voluptate! Commodi quae, voluptate.</p>
        </div>
    </div>
    <div class="card text-center text-dark mt-5">
        <div class="card-header header-title">
            CV Nasıl Hazırlanır?
        </div>
        <div class="card-body text-white" style="background-color: #312d39">
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab ad animi architecto
                consequuntur cumque delectus deleniti dicta dolorem enim eveniet illo inventore laborum maiores minima
                natus nemo non odio, omnis optio, pariatur placeat porro provident quasi quidem quis quisquam recusandae
                repellat reprehenderit saepe voluptas. Fuga natus qui unde! Assumenda commodi dolorum eligendi, et
                fugiat labore, minus neque nesciunt odio quo reprehenderit sint, veniam voluptates. Dolor facilis
                inventore libero neque placeat provident saepe soluta? Assumenda doloremque dolores fuga iste
                voluptatum? Amet consequatur culpa cumque, cupiditate dolorem expedita fugiat hic iure laboriosam minima
                molestiae officiis perferendis praesentium quaerat, quam qui saepe tempora unde vel, voluptatem?
                Assumenda atque debitis delectus dolor dolorem, doloribus dolorum eius eligendi est et facilis fuga
                illum iste laboriosam laborum maxime molestiae molestias mollitia natus necessitatibus nisi nobis non
                nostrum odio optio quae quisquam quos repellendus reprehenderit, rerum sint sit sunt velit? Accusantium,
                adipisci aliquid animi atque autem commodi consequuntur culpa cumque deleniti dignissimos error ex
                explicabo fuga fugiat, harum id illum labore laborum maiores mollitia nobis nostrum obcaecati officia
                perspiciatis placeat quam quibusdam quod repudiandae similique sunt suscipit temporibus tenetur ullam
                velit veniam voluptas voluptate. Accusantium cumque impedit ut! A accusantium quaerat quia reprehenderit
                voluptate! Commodi quae, voluptate.</p>
        </div>
    </div>
</div>
{% endblock content %}