{% extends 'user_form/base.html' %}

{% block title %}
    Users info
{% endblock title %}

{% block navbar %}
    <nav class="navbar navbar-expand-lg bg-light sticky-top navbar-menu" style="background-color: #f9dbbd !important;">
        <div class="container-fluid">
            <a class="navbar-brand navbar-item" href="#">CreateCV</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            {#            <div class="collapse navbar-collapse" id="navbarNav" style="color: white!important;">#}
            {#                <ul class="navbar-nav" style="color: white!important;">#}
            {#                    <li class="nav-item" style="color: white!important;">#}
            {#                        <a class="nav-link active navbar-item" aria-current="page" href="#">Home</a>#}
            {#                    </li>#}
            {#                    <li class="nav-item">#}
            {#                        <a class="nav-link navbar-item" href="#">Features</a>#}
            {#                    </li>#}
            {#                </ul>#}
            {#            </div>#}
        </div>
    </nav>
{% endblock navbar %}

{% block content %}
    <form method="POST" id="UserForm" data-cities-url="{% url 'ajax_load_cities' %}"
          action="{% url 'deneme_url' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <p>
            <button class="btn title-button" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseExample"
                    aria-expanded="false" aria-controls="collapseExample">
                Kişisel Bilgileriniz
            </button>
        </p>
        <div class="collapse show" id="collapseExample">
            <div class="card card-body form-body">
                <input type="hidden" {{ user.id }}>
                <div class="mb-4 col-md-3 text-start">
                    <label for="formFile" class="form-label">Profil Fotoğrafı</label>
                    {{ form.profile_img }}
                </div>
                <div class="row text-start">
                    <div class="col mb-4">
                        <label for="" class="form-label">İsim</label>
                        {{ form.first_name }}
                    </div>
                    <div class="col mb-4">
                        <label for="" class="form-label">Soyisim</label>
                        {{ form.last_name }}
                    </div>
                </div>
                <div class="row text-start">
                    <div class="col mb-4">
                        <label for="" class="form-label">Doğum Günü</label>
                        {{ form.birth_day }}
                    </div>
                    <div class="mb-4 col">
                        <label for="" class="form-label">Cinsiyet</label>
                        {{ form.gender }}
                    </div>
                </div>
                <div class="row text-start">
                    <div class="mb-4 col">
                        <label for="" class="form-label">Medeni Durum</label>
                        {{ form.marital_status }}
                    </div>
                    <div class="mb-4 col">
                        <label for="" class="form-label">Askerlik Durum</label>
                        {{ form.military_status }}
                    </div>
                    <div class="mb-4 col">
                        <label for="" class="form-label mobile-align-driving-license">Ehliyet Bilgisi</label>
                        {{ form.driving_license }}
                    </div>
                </div>
                <div class="row text-start">
                    <div class="mb-4 col">
                        <label for="" class="form-label mobile-align-email">Email</label>
                        {{ form.email }}
                    </div>
                    <div class="mb-4 col">
                        <label for="" class="form-label">Telefon Numarası</label>
                        {{ form.phone_number }}
                    </div>
                </div>
                <div class="row text-start">
                    <div class="mb-4 col">
                        <label for="" class="form-label">İl</label>
                        {{ form.city_living }}
                    </div>
                    <div class="mb-4 col">
                        <label for="" class="form-label">İlçe</label>
                        {{ form.district_living }}
                    </div>
                </div>
                <div class="form-floating mb-4">
                    {{ form.address }}
                    <label class="ms-4" for="">Adres</label>
                </div>
                <div class="row text-start">
                    <div class="form-floating mb-4 col">
                        {{ form.profile }}
                        <label class="ms-4" for="">Kısaca kendinizden bahseder misiniz?</label>
                    </div>
                    <div class="form-floating mb-4 col">
                        {{ form.hobby }}
                        <label class="ms-4" for="">Hobileriniz</label>
                    </div>
                </div>
            </div>
        </div>

        <p>
            <button class="btn title-button mt-5" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseExample1"
                    aria-expanded="false" aria-controls="collapseExample1">
                İş Deneyiminiz
            </button>
        </p>
        <div class="collapse" id="collapseExample1">
            <div class="card card-body form-body">
                <div class="row text-start">
                    <div class="col mb-4">
                        <label for="" class="form-label">Pozisyonunuz</label>
                        {{ work_experience_form.job_title_we }}
                    </div>
                    <div class="col mb-4">
                        <label for="" class="form-label">Çalıştığınız Şirket</label>
                        {{ work_experience_form.company_name_we }}
                    </div>
                </div>
                <div class="row text-start">
                    <div class="col mb-4">
                        <label for="" class="form-label">Başlama Tarihi</label>
                        {{ work_experience_form.start_date_we }}
                    </div>
                    <div class="mb-4 col">
                        <label for="" class="form-label">Bitiş Tarihi</label>
                        {{ work_experience_form.end_date_we }}
                    </div>
                </div>
                <div class="row text-start">
                    <div class="mb-4 col">
                        <label for="" class="form-label">İl</label>
                        {{ work_experience_form.city_we }}
                    </div>
                    <div class="mb-4 col">
                        <label for="" class="form-label">İlçe</label>
                        {{ work_experience_form.district_we }}
                    </div>
                </div>
                <div class="form-floating mb-4">
                    {{ work_experience_form.description_we }}
                    <label class="ms-4" for="">Açıklama</label>
                </div>
            </div>
        </div>

        <p>
            <button class="btn title-button mt-5" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseExample2"
                    aria-expanded="false" aria-controls="collapseExample2">
                Eğitim
            </button>
        </p>

        <div class="collapse" id="collapseExample2">
            <div class="card card-body form-body">
                <div class="row text-start">
                    <div class="col mb-4">
                        <label for="" class="form-label">Üniversite Adı</label>
                        {{ education_form.school_name }}
                    </div>
                    <div class="col mb-4">
                        <label for="" class="form-label">Bölüm</label>
                        {{ education_form.department_name }}
                    </div>
                    <div class="col mb-4">
                        <label for="" class="form-label">Derece</label>
                        {{ education_form.degree_name }}
                    </div>
                </div>
                <div class="row text-start">
                    <div class="col mb-4">
                        <label for="" class="form-label">Başlama Tarihi</label>
                        {{ education_form.start_date_education }}
                    </div>
                    <div class="mb-4 col">
                        <label for="" class="form-label">Bitiş Tarihi</label>
                        {{ education_form.end_date_education }}
                    </div>
                </div>
                <div class="row text-start">
                    <div class="mb-4 col">
                        <label for="" class="form-label">İl</label>
                        {{ education_form.city_education }}
                    </div>
                    <div class="mb-4 col">
                        <label for="" class="form-label">İlçe</label>
                        {{ education_form.district_education }}
                    </div>
                </div>
                <div class="form-floating mb-4">
                    {{ education_form.description_education }}
                    <label class="ms-4" for="">Açıklama</label>
                </div>
            </div>
        </div>

        <p>
            <button class="btn title-button mt-5" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseExample3"
                    aria-expanded="false" aria-controls="collapseExample3">
                Kurslar
            </button>
        </p>

        <div class="collapse " id="collapseExample3">
            <div class="card card-body form-body">
                <div class="row text-start">
                    <div class="col mb-4">
                        <label for="" class="form-label">Kurs Adı</label>
                        {{ course_form.course_name }}
                    </div>
                    <div class="col mb-4">
                        <label for="" class="form-label">Kurum Adı</label>
                        {{ course_form.institution_name }}
                    </div>
                </div>
                <div class="row text-start">
                    <div class="col mb-4">
                        <label for="" class="form-label">Başlama Tarihi</label>
                        {{ course_form.start_date_course }}
                    </div>
                    <div class="mb-4 col">
                        <label for="" class="form-label">Bitiş Tarihi</label>
                        {{ course_form.end_date_course }}
                    </div>
                </div>
                <div class="form-floating mb-4">
                    {{ course_form.description_course }}
                    <label class="ms-4" for="">Açıklama</label>
                </div>
            </div>
        </div>

        <p>
            <button class="btn title-button mt-5" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseExample4"
                    aria-expanded="false" aria-controls="collapseExample4">
                Referans
            </button>
        </p>

        <div class="collapse" id="collapseExample4">
            <div class="card card-body form-body">
                <div class="row text-start">
                    <div class="col mb-4">
                        <label for="" class="form-label">Şirket Adı</label>
                        {{ reference_form.company_name_reference }}
                    </div>
                    <div class="col mb-4">
                        <label for="" class="form-label">İsim</label>
                        {{ reference_form.first_name_reference }}
                    </div>
                    <div class="col mb-4">
                        <label for="" class="form-label">Soyisim</label>
                        {{ reference_form.last_name_reference }}
                    </div>
                </div>
                <div class="row text-start">
                    <div class="col mb-4">
                        <label for="" class="form-label">Email</label>
                        {{ reference_form.email_reference }}
                    </div>
                    <div class="mb-4 col">
                        <label for="" class="form-label">Telefon</label>
                        {{ reference_form.phone_number_reference }}
                    </div>
                </div>
            </div>
        </div>

        <button href="#" type="submit"
                class="btn col-md-3 align-self-center submit-button mt-4">Kaydet
        </button>
    </form>
{% endblock content %}